<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-4">

		<div class="card" style="width: 20rem;">
			<div class="card-body">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<h5 class="card-title"><%= current_user.try(:perfil).try(:nome) %></h5>
				<h6 class="card-text"><%= current_user.email %></h6>
				<p class="card-text"><b>Idade: </b> <%= current_user.try(:perfil).try(:idade) %></p>
        <p class="card-text"><b>Tipo de Perfil: </b> <%= current_user.try(:perfil).try(:tipo_de_perfil) %></p>
				<div class="row">
					<div class="col-md-6">
						<%= link_to "Editar Login", edit_user_registration_path, class:"btn btn-warning" %>
					</div>
					<% if ::Perfil.where(user_id: current_user.id).any?%>
						<div class="col-md-6">
							<%= link_to "Editar Perfil", edit_perfil_path(current_user.perfil), class:"btn btn-info" %>
						</div>
					<%end%>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-8">
		<%if current_user.perfil.present?%>
			<center><%= link_to 'Criar Post', new_post_path, class:"btn btn-success", style: "margin: 1rem; color: white" %></center>

			<ul class="list-group">
				<% @posts.order(id: :desc).each do |post| %>
					<div class="card" style="padding: 1rem; background-color: #bdc3c7; margin: 1rem">
						<h4 class="card-title"><%= post.conteudo %></h4>
						<h6 class="card-subtitle mb-2 text-muted">Postado por <%= post.user.email %></h4>
						
						<div class="row">
							<div class="col-md-9">
								<p class="card-text"><%= post.created_at.strftime("%d/%m/%Y - %H:%M") %></p>
							</div>
							<div class="col-md-3">	
								<%if post.pode_editar_excluir_post?(current_user)%>
									<%= link_to 'Editar', edit_post_path(post), class:"btn btn-primary" %>
									<%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' }, class:"btn btn-danger", style: "color: white" %>
								<%end%>
							</div>
						</div>
						
					</div>
				<% end %>
			</ul>
		<%end%>
			
	</div>
</div>

